 /* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F6F8FF;
    font-family: "Ubuntu Sans", sans-serif;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

.headerDiv{
    background-color: #F6F8FF;
    width: 100%;
    height: 10.3%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 10000;
}

.logo img{
    height:75px;
}
  
.navBar{
  background-color: #CCCED7;
  margin: 10px;
  border-radius: 50px;
  padding: 0px;
  height: 54px;
}

.navTab{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.navTab li{       
  border-radius: 50px;       
  height: 100%;
  padding: 12px 20px;
  white-space: nowrap;
  transition: background-color 0.5s ease;
}

.navTab li:hover{
  background-color: #AEB0BC;
  transform: scale(1);
}

.navTab li a{
    color: #000;
    text-decoration: none;
}

@keyframes fadeIn {
  0% {  background-color: #CCCED7; }
  100% {  background-color: #AEB0BC; }
}

.contentDiv{
    padding-top: 10.3%;
    padding: 10.3% 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.baner{
    margin-top: -50px;
    margin-bottom: 65px;
    position: relative;
    width: 100%;
    height: 700px;
}

.banerText{
    color: #FFF;
    position: absolute;
    z-index: 999;
    left: 250px;
    top: 190px;
}

.banerText .slogan{
    font-weight: bolder;
    font-size: 40px;
    white-space: nowrap;
}

.banerText .companyName{
    font-size: 64px;
    white-space: nowrap;
}

.banerText .name{
    font-size: 44px;
    white-space: nowrap;
}

.banerText .servicesName{
    font-size: 40px;
    white-space: nowrap;
}

.banerImg img{
    position: absolute;
    z-index: 1;
}

.banerImgPhoto img{
    position: absolute;
    z-index: 2;
    left: 900px;
}

.banerImg img,
.banerImgPhoto img{
    bottom: 0;  
}

.servicesPriceList{
    font-size: 30px;
    margin: 0 auto;
}

.servicesDesc h1,
.servicesPriceList h1,
.personalDesc h1,
.contact h1{
    text-align: center;
    font-size: 34px;
    color: #314468;
    margin-bottom: 50px;
}

.servicesPriceList table{
    background-color: #e0e1e9;
    border-radius: 30px;
    padding: 20px;
}

.servicesPriceList table th{
    padding: 10px 20px;
}

.personalDesc{
    margin: 0 auto;
    
}

.about{
    display: flex;
    gap: 30px;
}

.personalDesc .personalPhoto img{
    height: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
}

.personalDesc .divider .dividerBody{
    background-color: #4D7298;
    height: 500px;
    width: 8px;
    border-radius: 30px;
}

.personalDesc .personalText p {
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
}

.contact{
    width: 1000px;
    margin: 0 auto;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contactInfo{
    font-weight: bold;
    font-size: 20px;
}

.contactInfo ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactInfo ul li{
    display: flex;
    gap: 20px;
    align-items: center;
}

.map iframe{
    border-radius: 30px;
}

footer{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #CCCED7;
    color: #363636;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

footer a{
    color: #1954C2;
    text-decoration: none;
}

footer a:hover{
    color: #0d2c66;
}

/* Mobile view */
@media screen and (max-width: 768px){
    .headerDiv{
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 20%;
        position: fixed;
    }

    .logo{
        text-align: center;
    }

    .navBar{
        margin: 10px 115px;
    }

    .contentDiv{
        padding: 20% 0 0;
    }

    .baner{
        background: #5C86D4;
        background: linear-gradient(133deg,rgba(92, 134, 212, 1) 28%, rgba(0, 161, 170, 1) 50%, rgba(102, 181, 128, 1) 80%);
        width: 100%;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    }
    
    .banerText{
        margin-top: -50px;
        left: 40px;
    }

    .banerText .companyName{
        font: 74px;
    }

    .banerText .name{
        font-size: 54px;
    }

    .banerText .slogan{
        margin-bottom: 40px;
    }
 
    .banerText .servicesName{
        margin-top: 40px;
    }

    .baner .banerImg{
        display: none;
    }
}

